<div class='tasks index'>
	<h2><%= @project.title %> Tasks</h2>
	<table>
		<tr>
			<th>Title</th>
			<th>Due Date</th>
			<th>Completed</th>
			<th>Actions</th>
		</tr>
		<% @tasks.each do |task| %>
		<tr>
			<td><%= task.title %></td>
			<td><%= task.due_date %></td>
			<td><%= task.completed %></td>
			<td>
				<%= link_to 'Show', project_task_path(@project.id, task.id) %>
				<%= link_to 'Edit', edit_project_task_path(@project.id, task.id) %>
				<%= link_to 'Delete', delete_project_task_path(@project.id, task.id) %>
			</td>
		</tr>
		<% end %>
	</table>
</div>